[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ldap3 = "*"
boto3 = "*"

[dev-packages]
pipenv = ">=2022.12.17"
pytest = "*"
python-ldap-test = "*"
pytest-cov = "*"
moto = "*"
docker = "*"
uuid = "*"
mock = "*"
black = "*"

[requires]
python_version = "3.9"
