[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ldap3 = "*"
boto3 = "*"

[dev-packages]
pytest = "*"
pytest-cov = "*"
moto = "*"
docker = "*"
uuid = "*"
mock = "*"
black = "*"
coverage-badge = "*"
py4j = "*"

[requires]
python_version = "3"
