-i https://pypi.org/simple
black==24.8.0 ; python_version >= "3.8" and python_version < "4.0"
boto3==1.35.34 ; python_version >= "3.8" and python_version < "4.0"
botocore==1.35.34 ; python_version >= "3.8" and python_version < "4.0"
certifi==2024.8.30 ; python_version >= "3.8" and python_version < "4.0"
cffi==1.17.1 ; python_version >= "3.8" and python_version < "4.0" and platform_python_implementation != "PyPy"
charset-normalizer==3.3.2 ; python_version >= "3.8" and python_version < "4.0"
click==8.1.7 ; python_version >= "3.8" and python_version < "4.0"
colorama==0.4.6 ; python_version >= "3.8" and python_version < "4.0" and (sys_platform == "win32" or platform_system == "Windows")
coverage-badge==1.1.2 ; python_version >= "3.8" and python_version < "4.0"
coverage==7.6.1 ; python_version >= "3.8" and python_version < "4.0"
coverage[toml]==7.6.1 ; python_version >= "3.8" and python_version < "4.0"
cryptography==43.0.1 ; python_version >= "3.8" and python_version < "4.0"
docker==7.1.0 ; python_version >= "3.8" and python_version < "4.0"
idna==3.10 ; python_version >= "3.8" and python_version < "4.0"
iniconfig==2.0.0 ; python_version >= "3.8" and python_version < "4.0"
jinja2==3.1.4 ; python_version >= "3.8" and python_version < "4.0"
jmespath==1.0.1 ; python_version >= "3.8" and python_version < "4.0"
ldap3==2.9.1 ; python_version >= "3.8" and python_version < "4.0"
markupsafe==2.1.5 ; python_version >= "3.8" and python_version < "4.0"
mock==5.1.0 ; python_version >= "3.8" and python_version < "4.0"
moto==5.0.16 ; python_version >= "3.8" and python_version < "4.0"
mypy-extensions==1.0.0 ; python_version >= "3.8" and python_version < "4.0"
packaging==24.1 ; python_version >= "3.8" and python_version < "4.0"
pathspec==0.12.1 ; python_version >= "3.8" and python_version < "4.0"
platformdirs==4.3.6 ; python_version >= "3.8" and python_version < "4.0"
pluggy==1.5.0 ; python_version >= "3.8" and python_version < "4.0"
py4j==0.10.9.7 ; python_version >= "3.8" and python_version < "4.0"
pyasn1==0.6.1 ; python_version >= "3.8" and python_version < "4.0"
pycparser==2.22 ; python_version >= "3.8" and python_version < "4.0" and platform_python_implementation != "PyPy"
pytest-cov==5.0.0 ; python_version >= "3.8" and python_version < "4.0"
pytest==8.3.3 ; python_version >= "3.8" and python_version < "4.0"
python-dateutil==2.9.0.post0 ; python_version >= "3.8" and python_version < "4.0"
pywin32==307 ; python_version >= "3.8" and python_version < "4.0" and sys_platform == "win32"
pyyaml==6.0.2 ; python_version >= "3.8" and python_version < "4.0"
requests==2.32.3 ; python_version >= "3.8" and python_version < "4.0"
responses==0.25.3 ; python_version >= "3.8" and python_version < "4.0"
s3transfer==0.10.2 ; python_version >= "3.8" and python_version < "4.0"
setuptools==75.1.0 ; python_version >= "3.8" and python_version < "4.0"
six==1.16.0 ; python_version >= "3.8" and python_version < "4.0"
urllib3==2.2.3 ; python_version >= "3.8" and python_version < "4.0"
uuid==1.30 ; python_version >= "3.8" and python_version < "4.0"
werkzeug==3.0.4 ; python_version >= "3.8" and python_version < "4.0"
xmltodict==0.13.0 ; python_version >= "3.8" and python_version < "4.0"
