-i https://pypi.org/simple
boto3==1.35.57; python_version >= '3.8'
botocore==1.35.49; python_version >= '3.8'
jmespath==1.0.1; python_version >= '3.7'
ldap3==2.9.1
pyasn1==0.6.1; python_version >= '3.8'
python-dateutil==2.9.0.post0; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2'
s3transfer==0.10.3; python_version >= '3.8'
six==1.16.0; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2'
urllib3==2.2.3; python_version >= '3.10'
